h1 {
color: rgb(190, 16, 16);

}
h3 {
    background-color: beige;
}
h4 {
    color: rgb(31, 76, 226);
}
html{
    background-color: aquamarine;
    
}
img {
    width: 400px;
}
.thirdDiv {
 width: 600px;
 height: 500px;
 background-color: black;

}
#spanId{
    font-size:50px;
    margin: 60px;
}

#thirdDiv{
    padding: 50px;
    border: 5px solid salmon;
}

#spanId{
    color: coral;
    background-color: rgb(255, 255, 254);
}
